.create-report-container {
    flex-direction: column;
    width: 100%;
    height: 92%;
    max-height: 92%;
    font-family: Pretendard; /* 폰트를 상위 컨테이너에 설정 */
}
.report_p {
    position: absolute;
    padding-left: 125px;
    margin-top: -10px;
    /* font-weight: bold; */
}
.report-grid {
    display: grid;
    padding-top: 0.5rem;
    grid-template-columns: 0.2fr 2fr 2fr 2fr; /* 첫 번째 열은 label, 나머지는 데이터 */
    gap: 0.5rem; /* 박스 간격을 1px로 설정 */  
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 30px;  
}
.grid-label {
    font-weight: bold;
    text-align: right;
    padding-right: 0.5rem;
    align-self: center;
}
.grid-item {
    border: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
}
.title {
    width: 25rem;
    height: 2rem;
    flex-shrink: 0;
}
.image {
    width: 25rem;
    height: 11rem;
    flex-shrink: 0;
    ;
}
.contents_reportcreate {
    width: 26.5rem;
    height: 17rem;
    overflow-y: auto;
    padding: 10px; /* 내부 여백 */
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 10px;
    scrollbar-width: thin; /* Firefox에서 스크롤바 너비 설정 */
    scrollbar-color: #E5E5E5 transparent; /* 스크롤바 색상 (앞: 스크롤바, 뒤: 배경) */
    
}
.contents_reportcreate::-webkit-scrollbar-button {
    display: none; /* 스크롤바 화살표를 숨김 */
}

.contents_reportcreate::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px; /* 트랙에 둥근 모서리 적용 */

}

.contents_reportcreate::-webkit-scrollbar-thumb {
    background-color: #d1c7d7;
    border-radius: 10px; /* 썸에 둥근 모서리 적용 */
    border: 2px solid #f4f4f4; /* 트랙과 썸 사이의 여백 */
}
.selected {
    background-color: #d1c7d7;
    box-shadow: 0 0 10px #d1c7d7(0, 0, 255, 0.5);
}
.create-report-button {
    padding: 0.3rem 0.7rem;
    color: white;
    background-color:#51017F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 81rem;
    
}

.create-report-button-container {
    display: flex;
    /* justify-content: flex-end; */
    padding-left: 2rem;
    padding-top: 0.3rem; /* 버튼 위에 간격 추가 */
    
}
.preview-popup {
    position: fixed; /* 화면 상단에 고정 */
    line-height: 2.0;
    top: 20%; /* 화면에서 적당한 위치로 설정 */
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 20px; /* 내부 여백 */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 다른 요소 위로 나타나도록 설정 */
    width: 55rem;
    height: 35rem;
    overflow-y: auto; /* 세로 스크롤 활성화 */
}
.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    color : #51017F;
    cursor: pointer;
    z-index: 1001;
}
.close-button:hover {
    background: transparent; /* 호버 시 배경색을 유지하지 않음 */
}
.grid-item.image {
    position: relative; 
    padding: 11px; 
    border-radius: 10px;
  }
  .image-content {
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 199, 215, 0.6); /* 반투명한 파란색 오버레이 */
    z-index: 1; 
  }
  .grid-item.title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: bold; 
    font-size: 1rem; 
    padding: 11px;
    flex-grow: 1;
    border-radius: 10px;
  }


  
  