/* A4 사이즈 고정 스타일 */
.report-container1 {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 20mm;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* 제목 스타일 */
.report-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 15px;
  margin-top: -60px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

/* 이미지 박스 */
.image-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.image-box img {
  width: 100%; /* A4 기준 이미지 최대 너비 */
  max-height: 120mm; /* A4 기준 이미지 최대 높이 */
  border-radius: 8px;
}

/* 본문 내용 박스 */
.content-box {
  font-size: 18px;
  line-height: 2.0;
  max-height: 185mm; /* A4 본문 최대 높이 */
  overflow: hidden; /* 스크롤 제거 */
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}

/* 버튼 박스 */
.buttons-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 버튼 스타일 */
.button_save {
  padding: 10px 20px;
  background-color: #51017F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button_save_pdf {
  padding: 10px 20px;
  background-color: #51017F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 5rem;
}

.button:hover {
  background-color: #7A17B3;
}
