/* 전체 레이아웃을 좌우로 나누는 Flexbox */
.layout {
  display: flex;
  width: 100%; /* 전체 화면 너비 */
  height: 100%; /* 전체 화면 높이 */
}

/* 왼쪽 빈 공간 */
.left-space {
  background-color: white; /* 필요에 따라 배경 색상 설정 가능 */
  width: 100%;
}

/* 오른쪽 검색바가 들어갈 공간 */
.search-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; /* 상단바를 제외한 높이 설정 */
  box-sizing: border-box;
  padding: 1rem;
}

/* 첫 번째 검색창 크기 조절 */
.search-input.keyword-first {
  width: 12rem; /* 다른 검색창과 동일한 너비 설정 */
  padding: 0.25rem;
  border: 1px solid #51017F;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  text-align: center; /* 텍스트 중앙 정렬 */
  box-sizing: border-box; /* 패딩을 포함한 박스 모델로 설정 */
  margin-right: 0; /* 불필요한 마진 제거하여 정렬 문제 해결 */
}

/* 다른 검색창들의 너비 */
.search-input {
  width: 12rem; /* 모든 검색 입력 필드의 너비를 동일하게 설정 */
  padding: 0.25rem; /* 패딩 설정을 동일하게 유지 */
  border: 1px solid #51017F;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  text-align: center; /* 텍스트 중앙 정렬 */
  box-sizing: border-box; /* 패딩을 포함한 박스 모델로 설정 */
}

/* 구분선 */
.separator {
  width: 100%; /* 구분선 너비를 100%로 설정 */
  height: 1px;
  background-color: #51017F;
  margin: 16px 0;
}

/* 조건 입력 필드 */
.condition-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: flex-start; /* 요소를 왼쪽으로 정렬하여 정렬 문제 해결 */
}

/* 조건 추가 버튼 */
.add-condition-button {
  background-color: #fff;
  color: #51017F;
  border: 1px solid #51017F;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* 날짜 범위 */
.date-range {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.date-input {
  width: 100%;
  max-width: 100%;
  height: 1.875rem;
  border: 1px solid #51017F;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1rem;
}

/* 검색 버튼 */
.search-submit {
  width: 15.625rem;
  max-width: 15.625rem;
  height: 2.5rem;
  background-color: #51017F;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  align-self: center;
  margin-top: 1rem;
}

.search-submit:hover {
  background-color: #5d3474;
}

/* 조건 체크박스 */
.condition-checkbox {
  cursor: pointer;
  margin-right: 0.5rem;
}

/* 조건 삭제 버튼 */
.delete-condition-button {
  background-color: transparent;
  border: none;
  color: #51017F;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}
