/* 전체 페이지 레이아웃 설정 */
.app-container {
  display: flex;
  box-sizing: border-box;
  gap: 2% ;
  height: 93%;
  /* SearchBar와 News 사이의 간격 */

}

.search-bar-container {
  width: 28%;
  height: 100%;
}

.news-container1 {
  width: 70%;
  height: 100%;
}

.report-container1 {
  width: 70%;
  height: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%; /* React 앱의 root 요소에도 높이 100% 설정 */
}

/* 채팅 버튼 스타일 */
.rcw-launcher {
  background-color:#51017F
}
/* App.css */
.App .rcw-header {
  background-color: #51017F !important; /* 원하는 색상으로 변경 */
  color: #ffffff !important; /* 텍스트 색상 */
}
/* 응답 메시지 버블 스타일 */
.rcw-message.rcw-response {
  background-color: #e0e0e0;
  color: #333;
}
.rcw-new-message {
  white-space: pre-wrap !important;  /* 줄바꿈 허용 */
  overflow-wrap: break-word !important; /* 긴 단어를 줄바꿈 */
  word-break: break-all !important; /* 단어가 너무 길 경우에도 줄바꿈 */
  max-width: 100% !important; /* 입력 필드의 최대 너비 설정 */
}

/* 전체 위젯 */
.rcw-widget-container {
  border-radius: 10px;
}

/* 헤더 (타이틀 바) */
.rcw-header {
  background-color: #800080;
  color: #ffffff;
  font-weight: bold;
}

/* 사용자가 보낸 메시지 */
.rcw-message-outbound {
  background-color: #4CAF50 !important;
  color: #ffffff;
  border-radius: 10px;
}

/* 챗봇이 보낸 메시지 */
.rcw-message-inbound {
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 10px;
}

/* 메시지 입력창 */
.rcw-new-message {
  /* background-color: #ffffe0; */
  /* color: #000000; */
}

/* 전송 버튼 */
/* .rcw-send {
  filter: invert(50%);
} */
